.page_about {
  background-color: color(background);
  min-height: 100vh;

  &__content {
    background-color: color(primary);
    padding: 1.5rem 0;

    &-title {
      @include font-size(h3);
      color: color(light-blue);
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__main {
    @extend .flex-between;
    padding: 7.5rem 0 7.5rem padding(header);

    &-content {
      width: 50%;

      h2 {
        @include font-size(h3);
        color: color(primary);
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 2rem;
      }

      p,
      li {
        font-size: 1.35rem;
        font-weight: 500;
        padding-right: 6.5rem;
      }
    }

    &-image {
      @extend .img-background;
      height: 40rem;
      width: 40%;
    }

    &--second {
      padding: 7.5rem padding(header) 7.5rem 0;

      ul {
        padding-left: padding(header);

        li {
          padding-right: 3rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
