.page-account {
  @include flex(center);
  padding: 2.5rem padding(page) 5rem;

  &__form {
    width: 28rem;
    border: 0.1em solid rgba(color(text), 0.1);
    padding: 2.5rem;
    margin-top: 1rem;
    border-radius: $roundness * 0.5;

    form {
      width: 100%;
    }

    &-title {
      @include font-size(h4);
      margin-bottom: 1.5rem;
      font-weight: 500;
    }

    @include device(mobileAndTablet) {
      width: 100%;
    }
  }

  &__sign-up {
    margin-top: 1rem;
  }
}
