.process {
  min-height: 100vh;
  padding: 0 padding(page);

  &_title {
    @include font-size(h3);
    font-weight: 600;
    text-align: center;
    color: color(text);
  }

  &_list {
    @extend .inline-list;
    @include flex(center, $wrap: nowrap);
    padding: 6rem 0;

    &__item {
      text-align: center;
      color: color(text);
      padding: 0 1.5rem;

      &-icon {
        width: 2rem;
        height: 2rem;
      }

      &-title {
        @include font-size(h4);
        font-weight: 600;
      }

      &-description {
        @include font-size(h6);
        line-height: 1.5;
      }
    }
  }
}
