.projects {
  min-height: 100vh;
  padding: 0 padding(page);

  &_content {
    text-align: center;
    padding: 5rem 23rem;

    &__title {
      // @include font-size(h3);
      font-size: 3.25rem;
      font-weight: 600;
      line-height: 1.2;
    }

    &__subtitle {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.5;
      margin-top: 1rem;
    }
  }
}
