.services {
  padding: 2.5rem 0;
  width: 100%;

  &__list {
    @extend .inline-list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    gap: 5rem;

    @include device(mobile) {
      grid-template-columns: 1fr;
    }

    @include device(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &_item {
    @include flex(flex-start, $align-items: flex-start);
    width: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    transition: border-color 400ms easing(out-expo);

    &__icon {
      @include flex(center);
      width: 2.5rem;
      height: 2.5rem;
      background-color: rgba(color(text), 0.05);
      border-radius: 100%;

      svg {
        width: 1.25em;
        height: auto;
      }
    }

    &__content {
      width: calc(100% - 2.5rem);
      padding: 0 0 0 1rem;
    }

    &__title {
      @include flex(baseline);
      @include font-size(h5);

      &-outer {
        @include flex(space-between);
      }
    }

    &__description {
      @include font-size(p);
      margin-top: 1rem;
      color: rgba(color(text), 0.7);
    }

    &__foot {
      @include flex(space-between, $wrap: nowrap);
      padding: 1.5rem 0 0 0;
      margin-top: auto;
      width: 100%;

      .#{$global-prefix}_button--secondary {
        @include font-size(small);
      }
    }

    &:hover {
      border-color: rgba(color(text), 0.2);
    }
  }
}
