.header_nav {
  flex-grow: 1;

  &__hamburger {
    @extend .del-default;
    display: none;

    svg {
      width: 2rem;
      height: 2rem;
    }

    @include device(mobileAndTablet) {
      display: inline-block;
    }
  }

  &__list {
    @extend .inline-list;
    @extend .flex-start;
    padding-left: 8rem;

    &-item {
      position: relative;

      a {
        @include font-size(p);
        position: relative;
        display: block;
        text-transform: capitalize;
        text-underline-offset: 0.5em;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        &.active {
          color: color(text);
          text-decoration: underline;
        }
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  @include device(mobileAndTablet) {
    display: none;
  }
}
