.project {
  @include flex(space-between);
  padding: 5rem 0;

  &_image,
  &_content {
    width: 45%;
  }

  &_content {
    padding-right: 6rem;

    &__title {
      @include font-size(h3);
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 1.5rem;
    }

    &__description {
      opacity: 0.6;
      @include font-size(h6);
    }
  }

  &_image {
    @extend .img-background;
    height: 100vh;
  }
}
