.#{$global-prefix}_modal {
  @include hide-scrollbar;
  position: fixed;
  background-color: color(background);
  padding: 1.5rem 2.5rem 2.5rem;
  border-radius: $roundness * 0.5;
  border: 0.1em solid rgba(color(text), 0.1);
  max-width: 95vw;
  max-height: 90vh;
  min-width: 25rem;
  overflow-y: scroll;

  &__header {
    @include flex(space-between);
    margin: 0 0 2rem 0;
  }

  &__title {
    @include font-size(h5);
    font-weight: 500;
    margin: 0;
  }

  .redoxbird_modal__close {
    @include flex(center);
    padding: 0.5em;
    border-radius: 5em;
    border: 0;
    background-color: rgba(color(text), 0.1);
    color: color(text);

    svg {
      width: 1em;
      height: 1em;
    }
  }
}
