.#{$global-prefix}_page {
  &__progress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 0.15em;
    background-color: color(background);
    z-index: 2000;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      background-color: color(main);
      animation: #{$global-prefix}_page__progress 1s linear infinite;
      transform: scale(0, 1);
    }
  }
}

@keyframes #{$global-prefix}_page__progress {
  0% {
    transform-origin: left;
  }

  50% {
    transform-origin: left;
    transform: scale(1);
  }

  50.1% {
    transform-origin: right;
  }

  100% {
    transform-origin: right;
    transform: scale(0, 1);
  }
}
